preprocess_rhd/logs/*
**__pycache__**
**fuse_hidden**
current_sheel_scripts/logs/*
**.png
**.svg
**.pdf
post_msort_processing/logs/*
post_msort_processing/utils_matlab/CellExplorer-master/*
**pls_ignore**
**.log
